.App{
  background-color: cyan;
}

.tab-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color:lightblue;
}
.buttonBox{
  width: 80%;
}
button{
  width: 20%;
  color: red;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid pink;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: whitesmoke;
  color: red;
}

